# Ignore build files

/.settings/
/.vscode/
/build/

/lib/LoraMac/LoRaMac-node
/lib/RTOS/FreeRTOS-Kernel
/src/Debug

*cmake_install.cmake
*CMakeCache.txt
*Makefile
*CMakeFiles
*CMakePresets.json
*compile_commands.json
*.ld
*.o
*.d
*.map
*.elf
*.log
*.launch